@model IEnumerable<ManageOnline.Models.Product>

@{
    ViewBag.Title = "Search";



}


<h2 class="text-center text-success">List of products found</h2>


<h4>Search results for "@ViewBag.keyword" is: </h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Img)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category.Category_Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Img)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.Category_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Product_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Product_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Product_Id })
                </td>
            </tr>
        }

    </table>


